@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

*,
x:after,
x:before {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html{
    width: 100%;
    overflow-x: hidden;
}

/*---- MENU ----*/
.menu{
    width: 100%;
    height: 5rem;
    background-color: #0A3B3C;
    font-weight: 300;
    position: fixed;
}

.nav{
    margin: 0 0 0 2rem;
}

.nav, ul{
    list-style-type: none;
    overflow: hidden;
    top: 1.7rem;
    float: left;
}


li{
    float: left;
    padding: 2rem 0;
}

li a{
    display: block;
    text-decoration: none;
}

.nav ul li {
    position: relative;
    margin: 0 3rem 0 0;
}

.projectes:hover .nav2{ 
    display: block; 
}

.nav2 { 
    /*position: absolute;*/
    width: 4.5rem;
    display: none;
    margin: 0;
    background-color: #0A3B3C;
    padding: 1rem 2rem;
    margin-left: -2rem;
    font-weight: 200;
}

.practica {
    margin: 0!important;
    display: block;
    padding: 0.2rem 0;
}

a{
    color: #deeee5;
}

.logo img{
    width: 8rem;
    margin: 0.3rem 0rem 0 1.5rem ;
    float: left;
    display: block;
}


/* ---- PROJECTES ---- */
/*APARTAT 1*/
.apartat1, .apar1{
    padding: 5rem 0 0 0;
    height: 30rem;
    background-color: #deeee5;
}

h1{
    font-size: 4rem;
    font-weight: 400;
    padding: 2rem 0 0 2rem;
    line-height: 4rem;
    color: #0A3B3C;
}


.apartat1 .titol, .apar1 .titol{
    padding: 4rem 0 0 3rem;
    width: 25%;
}

h5{
    font-weight: 300;
    padding: 1rem 0 0 2rem;
    font-size: 1.2rem;
    color: #0A3B3C;
}


/*APARTAT2*/
.apartat2{
    height: 35rem;
}

.web, .grafic, .altres{
    border: solid 0.05rem black;
    width: 10%;
    margin: 4% 11.6% 0 11.6%;
    text-align: center;
    float: left;
    background-color: white;
}

h3{
    font-weight: 300;
    font-size: 1.5rem;
}

/*button*/
.baix{
    margin-top: 1rem;
    width: 3rem;
    height: 2rem;
    background-color: #0A3B3C;
    color: #deeee5;
    border: none;
    padding: 0 1rem 0 1rem;
    margin-bottom: 2rem;
}

.baix:hover{
    background-color: #deeee5;
    color: #0A3B3C;
    border: 0.1rem solid #0A3B3C;
}

.imatge-a2{
    width: 100%;
}

/*APARTAT 3*/
.apartat3{
    height: 65rem;
    background-color: #deeee5;
}

h2{
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
}

.apartat3 .titol{
   text-align: center;
   padding: 6rem 0 0 0;
}

.projectes-web .treball{   
    border: solid 0.05rem black;
    width: 10%;
    margin: 2% 4.95% 0 4.95%;
    text-align: center;
    float: left;
    background-color: white;
}

/*APARTAT 4*/
.apartat4{
    height: 60rem;
    background-color: white;
}

.apartat4 .titol{
    text-align: center;
    padding: 6rem 0 0 0;
}

.projectes-grafic .treball{
    border: solid 0.05rem black;
    width: 10%;
    margin: 2% 7.4% 0 7.4%;
    text-align: center;
    float: left;
    background-color: white;

}


/*APARTAT 5*/
.apartat5{
    height: 60rem;
    background-color: #deeee5;
}

.apartat5 .titol{
    text-align: center;
    padding: 6rem 0 0 0;

}

.altres-projectes .treball{
    border: solid 0.05rem black;
    width: 10%;
    margin: 2% 7.4% 0 7.4%;
    text-align: center;
    float: left;
    background-color: white;
}


/* ---- SOBRE MI ---- */
/*APARTAT 2*/
.apar2{
    height: 25rem;
}

.apar2 .aida{
    padding-top: 1rem;
    border: solid 0.05rem black;
    width: 10%;
    margin: 2% 4.95% 0 4.95%;
    text-align: center;
    float: left;
    background-color: white;
}

/*APARTAT 3*/
.apar3{
    height: 24rem;
    background-color: #deeee5;
}

.apar3 .cont, .apar3 .mi, .apar3 .habilitats{
    padding: 6rem 0 0 0;
    float: left;
}

.apar3 .cont, .apar3 .habilitats{
    width: 30%;
}

.apar3 .mi{
    width: 39.9%;
}

.cont h3, .mi h3, .habilitats h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

p{
    font-size: 1rem;
    font-weight: 200;
}

.cont, .mi{
    border-right: 0.01rem solid black;
    height: 18rem;
}

.habilitats p, .cont p{
    text-align: center;
}

.mi p{
    padding: 0 4rem;
}

/*APARTAT 4 i 5*/
.apar4{
    height: 40rem;
}

.apar4 .experiencia, .apar5 .titulacio{
    padding: 4rem 4rem 0 0;
    float: left;
    width: 100%;
}

.experiencia h3, .apar5 h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    margin: 0;
}

.averlance, .freelance, .empiezapori, .batxillerat, .provencana, .alguero{
    width: 25.3%;
    margin-top: 4rem;
    padding: 2rem 4% 0 4%;
    float: left;
    
}

.averlance, .freelance{
    border-right: 0.01rem solid black;
    height: 20rem;
}

.averlance h4, .freelance h4, .empiezapori h4, .batxillerat h4, .provencana h4, .alguero h4{
    font-size: 1.5rem;
    font-weight: 300;
    color: #0A3B3C;
    text-align: center;
}

.averlance h6, .freelance h6, .empiezapori h6, .batxillerat h6, .provencana h6, .alguero h6{
    font-size: 0.8rem;
    font-weight: 200;
    color: grey;
    text-align: center;
}

.averlance ul li, .freelance ul li, .empiezapori ul li{
    padding: 0;
    margin: 0;
    float: none;
    font-size: 0.85rem;
    font-weight: 200;
}

.averlance ul, .freelance ul, .empiezapori ul{
    list-style-type:circle;
    overflow:visible;
    padding-left: 1rem;
}


.averlance hr, .freelance hr, .empiezapori hr, .batxillerat hr, .provencana hr, .alguero hr{
    width: 50%;
    margin-right: auto;
    margin-left: auto;

}

.apar5{
    height: 30rem;
    background-color: #deeee5;
}

.batxillerat, .provencana{
    border-right: 0.01rem solid black;
    height: 10rem;
}

.batxillerat p, .provencana p, .alguero p{
    text-align: center;
}

/*APARTAT 6 i 7*/
.apar6, .apar7{
    height: 30rem;
}

.apar6 .cursos{
    padding: 4rem 4rem 0 0;
    float: left;
    width: 100%;
}

.cursos h3, .apar7 .dades{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    margin: 0;
}

.curs, .curs-ultim{
    width: 11.9%;
    margin-top: 4rem;
    padding: 2rem 4% 0 4%;
    float: left;
}

.dada, .dada-ultim{
    width: 16.9%;
    margin-top: 4rem;
    padding: 2rem 4% 0 4%;
    float: left;
}

.curs{
    border-right: 0.01rem solid black;
    height: 12rem;
}

.dades .dada{
    border-right: 0.01rem solid black;
    height: 22rem;
}

.curs h4, .curs-ultim h4{
    font-size: 1.5rem;
    font-weight: 300;
    color: #0A3B3C;
    text-align: center;
}

.curs h6, .curs-ultim h6, .dada h6, .dada-ultim h6{
    font-size: 0.8rem;
    font-weight: 200;
    color: grey;
    text-align: center;
    
}

.curs p, .curs-ultim p, .dada p, .dada-ultim p{
    text-align: center;
}

.curs hr, .curs-ultim hr, .dada hr, .dada-ultim hr{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
}

.dada ul li, .dada-ultim ul li{
    padding: 0;
    margin: 0;
    float: none;
    font-size: 0.85rem;
    font-weight: 200;
    text-align: left;
}

.dada ul, .dada-ultim ul{
    list-style-type:circle;
    overflow:visible;
    padding-left: 1rem;
}

.apar7{
    background-color: #deeee5;
    width: 100%;
}

.dada h3, .dada-ultim h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}


/* DISSENY MOBIL VERTICAL */

@media screen and (max-width: 480px) {

    h3{
        font-size: 0.9rem;
    }
    
    /* ---- MENU ---- */
    .nav{
        margin: 0 0 0 1rem;
    }
    
    .nav ul li{
        margin: 0.25rem 1rem 0 0;
    }

    .logo img{
        width: 6rem;
        margin: 1rem 0 0 1rem;
    }

    li a{
        font-size: 0.8rem;
    }

    /* ---- APARTAT 1 PROJECTES i SOBRE MI ---- */
    .apartat1{
        height: 18rem;
        padding: 2rem 0 0 0;
    }

    .apar1{
        height: 23rem;
        padding: 1rem 0 0 0;
    }

    .apartat1 .titol, .apar1 .titol{
        width: 80%;
        padding: 5rem 0 0 1rem;
    }

    .titol h1{
        font-size: 3rem;
    }

    .titol h5{
        font-size: 1.1rem;
    }

    /* ---- APARTAT 2 PROJECTES ---- */
    .apartat2{
        height: 20rem;
    }

    .apartat2 .web, .apartat2 .grafic, .apartat2 .altres{
        width: 25%;
        margin: 8% 4% 0 4%;
        height: 15rem;
    }

    /* ---- APARTAT 3, 4 i 5 PROJECTES ---- */
    .apartat3{
        height: 55rem;
    }

    .apartat4{
        height: 42rem;
    }

    .apartat5{
        height: 30rem;
    }

    .apartat3 .titol, .apartat4 .titol, .apartat5 .titol{
        padding: 5rem 0 2rem 0;
    }

    .projectes-web .treball, .projectes-grafic .treball, .altres-projectes .treball{
        width: 20%;
        height: 13rem;
        margin: 2% 2.3% 0 2.3%;
    } 

    /* ---- APARTAT 2 SOBRE MI ---- */
    .apar2{
        height: 28rem;
        padding: 2rem 0 0 0;
    }

    .apar2 .aida{
        width: 20%;
        margin: 2% 2.3% 0 2.3%;
        height: 7rem;
    }


    /* ---- APARTAT 3 SOBRE MI ---- */
    .apar3{
        height: 64rem;
    }

    .apar3 .cont, .apar3 .mi, .apar3 .habilitats{
        width: 100%;
        padding: 5rem 0 0 0;
    }

    .apar3 .cont, .apar3 .habilitats{
        height: 12rem;
    }

    .apar3 .mi{
        height: 16rem;
    }

    .mi, .cont{
        border-bottom: 0.01rem solid black;
    }

    .apar3 .cont p, .apar3 .mi p, .apar3 .habilitats p{
        font-size: 0.85rem;
    }

    /* ---- APARTAT 4 I 5 SOBRE MI ---- */
    .apar4{
        height: 80rem;
    }

    .apar5{
        height: 53rem;
    }

    .apar4 .experiencia, .apar5 .titulacio{
        padding: 5rem 0 0 0;
    }

    .averlance, .freelance, .empiezapori, .batxillerat, .provencana, .alguero{
        width: 85%;
        padding: 0rem 2rem 2rem 2rem;
    }
    
    .averlance, .freelance, .batxillerat, .provencana{
        border-bottom: 0.01rem solid black;

    }

    .averlance p, .freelance p, .empiezapori p, .batxillerat p, .provencana p, .alguero p{
        font-size: 0.85rem;
    }

    .batxillerat, .provencana, .alguero{
        height: 8rem;
    }

    /* ---- APARTAT 6 SOBRE MI ---- */
    .apar6{
        height: 80rem;
    }

    .curs, .curs-ultim{
        width: 100%;
        padding: 0 0 2rem 0;
        height: 8rem;
    }

    .curs p, .curs-ultim p{
        font-size: 0.8rem;
    }

    .curs{
        border-bottom: 0.01rem solid black;

    }

    /* ---- APARTAT 7 SOBRE MI ---- */
    .apar7{
        height: 98rem;
    }

    .dada, .dada-ultim{
        width: 100%;
        padding: 2rem 0 2rem 0;
    }

    .dada p, .dada-ultim p{
        font-size: 0.85rem;

    }

    .dades .dada{
        height: 12rem;
        border-bottom: 0.01rem solid black;
    }

    #aptituds, #interessos{
        height: 20rem;
    }

    #aptituds ul, #interessos ul{
        padding-left: 5rem;
    }

}


/* DISSENY MOBIL APAISAT */

@media screen and (min-width: 481px) and (max-width: 1024px) {
    
    /* ---- APARTAT 1 PROJECTES ---- */
    .apartat1{
        height: 20rem;
    }

    .apartat1 .titol, .apar1 .titol{
        width: 80%;
        padding: 5rem 0 0 1rem;
    }

    /* ---- APARTAT 2 PROJECTES ---- */
    .apartat2{
        height: 28rem;
    }

    .apartat2 .web, .apartat2 .grafic, .apartat2 .altres{
        width: 25%;
        margin: 8% 4% 0 4%;
        height: 20rem;
    }

    /* ---- APARTAT 3, 4 i 5 PROJECTES ---- */
    .apartat3{
        height: 78rem;
    }

    .apartat4{
        height: 58rem;
    }

    .apartat5{
        height: 40rem;
    }

    .apartat3 .titol, .apartat4 .titol, .apartat5 .titol{
        padding: 5rem 0 2rem 0;
    }

    .projectes-web .treball, .projectes-grafic .treball, .altres-projectes .treball{
        width: 20%;
        height: 20rem;
        margin: 2% 2.3% 0 2.3%;
    } 
}